[submodule "M4-Foundation-DL/Python-based-DS/M04W01 - Data Ingestion and Processing Using PySpark/incremental-batch-data-ingestion-pipeline"]
	path = M4-Foundation-DL/Python-based-DS/M04W01 - Data Ingestion and Processing Using PySpark/incremental-batch-data-ingestion-pipeline
	url = https://github.com/AIVIETNAM-AIO-HUYTRUONG/incremental-batch-data-ingestion-pipeline.git
	branch = main
